@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,300;0,400;1,200&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
	scroll-behavior: smooth;
}

* {
	border: none;
	margin: 0;
	padding: 0;
}

p {
	font-weight: 400;
}

h1,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
}

/*--------------------logo and nav menu style-------------------------*/

.logo-txt {
	float: left;
	padding: 20px 0 20px 20px;
	color: #388497;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 35px;
}

h1 span {
	color: #fa8334;
}

a:link {
	text-decoration: none;
}

.nav-links {
	display: flex;
	float: right;
	font-size: 3vh;
	padding: 20px;
	font-weight: 400;
}

.nav-links a {
	color: #fa8334;
}

.nav-links li {
	display: inline;
	margin: 0 1vw;
}

.logo-txt .nav-links {
	line-height: 30px;
}

.nav-links ul li:hover {
	text-decoration: underline;
	text-decoration-color: #388497;
}

/* ------------css style for hero image and text------*/

.hero-img {
	height: 700px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: linear-gradient(rgba(4, 5, 10, 0.7), rgba(5, 8, 19, 0.7)), url(/assets/images/header-image.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero-text {
	width: 50%;
	text-align: center;
}

.hero-text h1 {
	font-size: 50px;
	color: #ffe882;
}
